# JWT token
JWT_SECRET=fixlink-super-secret-jwt-key-minimum-32chars-long

# LiveKit 
LIVEKIT_API_KEY=devkey
LIVEKIT_API_SECRET=secret


GROQ_API_KEY=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

# frontend url
VITE_API_URL=http://localhost:8080/api
VITE_LIVEKIT_URL=ws://localhost:7880


